APP_NAME=ScoreStreamLive
APP_ENV=development
APP_VERSION=0.5.0
LOG_LEVEL=INFO

DB_HOST=postgres
DB_PORT=5432
DB_NAME=scorestreamlive
DB_USER=scorestreamlive
DB_PASSWORD=[set4now]

SOCKET_CORS_ORIGINS=*